


 <footer id="page-footer">
        <div class="inner">
            
            <aside id="footer-thumbnails" class="footer-thumbnails"></aside><!-- /#footer-thumbnails -->
            <aside id="footer-copyright">
                <div class="container">
                    <span>Copyright © westernedge Integrated consulting Ltd 2018. </span>
                    <span class="pull-right"><a href="#page-top" class="roll">Go to top</a></span>
                                  <div style="text-align: left;font-size:1.8em"> Disclaimer  </div>
<div style="padding-top: 10px;text-align: left;font-size:0.8em">
    
    
    While care has been taken in the preparation of this website, no responsibility is accepted for the information included on the website. Property Brokers make no representation, warranty or undertaking concerning the accuracy, completeness or up to date nature of the information provided. Interested persons should make their own enquiries and satisfy themselves in all respects about any information that is of importance to them.
 

Lagoshomefinder accepts no liability whether direct or indirect for any loss or damage a person suffers because that person had directly or indirectly relied on any information provided on this website.

 

It is recommended that all prospective tenants/purchasers/vendors seek their own independent professional advice (Lawyers, Accountants, Engineers, Valuers etc) as part of their due diligence prior to executing any documents/committing to any contractual obligations.</div>
                </div>
            </aside>
        </div><!-- /.inner -->
    </footer>    <!-- end Page Footer -->

    </div>

<div id="overlay"></div>
